@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?jnwb8b");
  src: url("fonts/icomoon.woff?jnwb8b") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
  color: white;
}
.icon-pencil:before {
  content: "\e905";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-user:before {
  content: "\e971";
}
